* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} 

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    color: #333;
    color: white;
}

header h1 {
    text-align: center;
    padding: 80px 20px;
    background-color: #5f6368;
    color: white;
}

.hero {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero h2 {
   font-size: 2.5em;
   margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
}

.Project {
   padding: 40px 20px;
   background-color: #fff;
   text-align: center;
}
 
.Project h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.Project-card {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
}

.Project-card {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    transition: transfrom 0.3s ease-in-out;
}

.Project-card:hover {
    transform: scale(1.05);
    background-color: #ffeb3b;
}

footer {
   text-align: center;
   padding: 20px;
   background-color: #333;
   color: white;
}

body.dark-mode {
    background-color: #333;
    color: white;
}

body.dark-mode header {
    background-color: #444;
}

body.dark-mode .hero {
    background-color: #222;
}

body.dark-mode .Project-card {
    background-color: #444;
    color: #fff;
}

body.dark-mode .Project-card:hover {
    background-color: #555;
}