body{
    /*font-family: 'Bebas Neue';*/
}
/*p{
    font-size: 24px;
    font-weight: bolder;
    font-style: italic;
    color: white;
    padding: 35px;
    box-sizing: border-box;

}*/
#box{
    height: 150px;
    width: 150px;
    background-color: rgb(255, 0, 183);
    color: rgb(255, 196, 221);
    padding-left: 40px;
    box-sizing: border-box;
}