div{
   height: 500px;
   width: 100px;
   background-color: red; 
   color: white;
   font-size: 24px;
   margin: 20px 0px;
}

.static{
    top:20px
}

.relative{
    position:absoluterelative;
    left: 200px;
    top: 120px;
    z-index: 0;
}

.absolute{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 100px;
}

.fixed{
    height: 100px;
    position: fixed;
    top: 100px;
    background-color: brown;
}