.parent{
       height: 400px;
       width: 410px;
       border: 1px solid red;
       display:flex;

     /*  flex-direction: wrap-reverse; */

     flex-direction: row;
     justify-content: center;
     align-items: center;
     align-content: center;
     gap: 10px;
}

.child{
    background-color: rgb(192, 255, 227);
    color: aqua;
    font-size: 32px;
    width: 100px;
    height: 100px;
    border: 5px dotted rgb(102, 0, 255);
}

.child1{
    align-self: star;
    flex-grow: 2;
}
.child2{
    flex-basis: 100px;
}
.child3{
    
}